
 body {
   background-image: url(b.jpg);
   background-size: 100%;
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
 }

 h1 {
   font-style: oblique;
   height:100px;
   color: white;
   border: 10px groove rgba(255, 0, 0, 0.5) ;
   padding: 10px 10px;
   text-align: center;
 }


.d-block{
  float: left;

}
.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: infinite bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
 .button {
   text-transform: capitalize;
   font-weight: 600;
     border-radius: 300px;
     margin: 10px;
  background-color: F3A2AD;
  border-radius: 30%;
  border-color: F3A2AD;
  color: red;
  font-weight: bold;
  padding: 10px 20px;
}

.button:hover{
  border-radius: 3rem;
   cursor: grab;
}
form{ color: white;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 30em;
  height: 18em;
}

footer{
  text-align: right;
  float: inherit;

}
p{
  fo
}
